html, body{
  /* Sfondo della pagina */
  min-height: 100vh;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.riquadro{
  /* Riquadro che conterrà tutte le informazioni della pagina */
  width: 1200px;
  height: 700px;
  border-radius: 10px;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
}

.contenuto{
  /* Informazioni contenute nel riquadro */
  width: 900px;
  margin: auto;
}

header > img{
  /* logo Lim */
  display: block;
  width: 20%;
  margin: auto;
}

header > h1{
  /* Didascalia immagine */
  color: lightgreen;
  text-align: center;
}

.menu, .azioni{
  /* Tasti che permettono un interazione con i monopattini */
  padding: 0.5%;
  text-align: center;
  background-color: lightgreen;
}

section > div{
  /* Parametri comuni a tutte le cariche delle batterie */
  height: 25px;
  border-radius: 5px;
}

.carica_batteria1{
  /* Stato della carica della batteria del primo monopattino */
  width: 400px;
  background-color: orange;
}

.carica_batteria2{
  /* Stato della carica della batteria del secondo monopattino */
  width: 600px;
  background-color: lightgreen;
}

.carica_batteria3{
  /* Stato della carica della batteria del terzo monopattino */
  width: 200px;
  background-color: red;
}

section > h2:before{
  /* Entità (simbolo) quadrato */
  content: ' \25A0';
  font-weight: bold;
}

section > span.indirizzi:before{
  /* Entità (simbolo) freccia */
  content: ' \21A6'
}
